:root {
  // colors
  --color-primary: #8270db;
  --color-primary-dark: #5546b7;
  --color-primary-light: #9886e2;

  --color-error: #eb5757;

  // text sizes
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
  --text-8xl: 96px;

  // transitions
  --transition-base: 0.25s all ease;

  // radius
  --rounded: 4px;
  --rounded-lg: 8px;
  --rounded-xl: 12px;
  --rounded-2xl: 16px;

  // weigth
  --weigth-base: 400;
  --weigth-medium: 500;
  --weigth-semi: 600;
  --weigth-bold: 700;

  // grid cols
  --grid-cols-2: repeat(2, minmax(0, 1fr));

  // shadows
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 1);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.15), 0 1px 2px -1px rgb(0 0 0 / 0.15);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.15), 0 2px 4px -2px rgb(0 0 0 / 0.15);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.15), 0 4px 6px -4px rgb(0 0 0 / 0.15);
  --shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}
