.erp_layout {
  --header-height: 40px;
  --layout-gap: 4px;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;

  gap: var(--layout-gap);

  &__main {
    height: calc(100% - var(--header-height) - 2 * var(--layout-gap));
    width: 100%;
    display: flex;

    gap: 8px;

    &__outlet {
      height: 100%;
      width: 100%;
      overflow: auto;
      padding: 4px 8px 4px 0;
    }
  }

  &__header {
    min-height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    padding: 8px 4px;
    box-shadow: var(--shadow);
  }
}
