.nav_menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  height: 100%;
  border-right: 2px solid #e5e6eb;
  padding: 8px 4px;

  background-color: white;

  &__list {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__drawer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 8px;
  }

  &__footer {
    display: flex;
    justify-content: center;

    &__icon {
      cursor: pointer;
    }
  }
}
