.nav_menu {
  color: #830000;
  padding: 4px 8px;
  border-radius: 20px;

  background-color: white;

  transition: var(--transition-base);

  &:hover {
    background-color: rgba(131, 0, 0, $alpha: 0.3);
  }

  &__list {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__drawer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 8px;
  }

  &__footer {
    display: flex;
    justify-content: center;

    &__icon {
      cursor: pointer;
    }
  }
}
