.text {
  cursor: inherit;
  line-height: 1;
}

.link {
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: underline;
}

/*
 TEXT SIZES
*/
.size_sm {
  font-size: var(--text-sm);
}

.size_base {
  font-size: var(--text-base);
}

.size_lg {
  font-size: var(--text-lg);
}

.size_xl {
  font-size: var(--text-xl);
}

.size_2xl {
  font-size: var(--text-2xl);
}

.size_3xl {
  font-size: var(--text-3xl);
}

.size_4xl {
  font-size: var(--text-4xl);
}

.size_5xl {
  font-size: var(--text-5xl);
}

.size_6xl {
  font-size: var(--text-6xl);
}

.size_7xl {
  font-size: var(--text-7xl);
}

.size_8xl {
  font-size: var(--text-8xl);
}

/*
 TEXT WEIGHT
*/
.weight_base {
  font-weight: var(--weight-base);
}

.weight_normal {
  font-weight: var(--weight-normal);
}

.weight_semi {
  font-weight: var(--weight-semi);
}

.weight_bold {
  font-weight: var(--weight-bold);
}

/* 
  TEXT COLORS
*/
.color_black {
  color: black;
}

.color_error {
  color: var(--color-primary-light);
}

.color_primary {
  color: var(--color-primary);
}
