.modal_editor {
  display: flex;
  flex-direction: column;
  gap: 20px;

  height: 100%;
  overflow: auto;

  &__header {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    gap: 8px;

    align-items: center;
  }

  &__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
