.modal_layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: end;
  padding: 10px;

  background-color: rgba($color: #000, $alpha: 0.3);

  animation: 0.5s fadein;

  &__body {
    background-color: white;
    padding: 16px;
    width: 1024px;
    height: 100%;

    border-radius: 8px;
    box-shadow: var(--shadow);

    animation: 0.5s fadein_content;
  }
}

.center {
  justify-content: center;
  align-items: center;
}

.body_bg {
  background-color: transparent;
  box-shadow: none;
  height: fit-content;
}

@keyframes fadein {
  from {
    background-color: rgba($color: #000, $alpha: 0);
  }

  to {
    background-color: rgba($color: #000, $alpha: 0.3);
  }
}

@keyframes fadein_content {
  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: 1024px;
  }
}
