.modal_layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 100;

  display: flex;
  justify-content: end;
  padding: 10px;

  background-color: rgba($color: #000, $alpha: 0.3);

  animation: 0.25s fadein;

  &__body {
    background-color: white;
    min-width: fit-content;
    width: 66vw;
    max-width: 100%;
    height: 100%;

    border-radius: 8px;
    box-shadow: var(--shadow);

    animation: 0.25s fadein_content;
  }
}

.center {
  justify-content: center;
  align-items: center;
}

.body_bg {
  background-color: transparent;
  box-shadow: none;

  height: 100%;
  max-height: fit-content;
  overflow: auto;
}

@keyframes fadein {
  from {
    background-color: rgba($color: #000, $alpha: 0);
  }

  to {
    background-color: rgba($color: #000, $alpha: 0.3);
  }
}

@keyframes fadein_content {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
