.button {
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border: 2px solid transparent;
  font-weight: var(--weight-medium);

  white-space: nowrap;

  padding: 6px 12px;
  border-radius: var(--rounded);

  transition: var(--transition-base);
}

.mode_primary {
  background-color: var(--color-primary);
  color: white;
  box-shadow: var(--shadow);
  border-color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary-dark);
    box-shadow: var(--shadow-inner);
    border-color: var(--color-primary-dark);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;

    background-color: var(--color-primary);
    box-shadow: var(--shadow);
    border-color: var(--color-primary);
  }
}

.mode_secondary {
  background-color: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: var(--shadow);

  &:hover {
    background-color: rgb(from var(--color-primary) r g b / 10%);
    color: var(--color-primary-dark);

    border-color: var(--color-primary-dark);
    box-shadow: var(--shadow-inner);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;

    background-color: transparent;
    color: var(--color-primary);
    box-shadow: var(--shadow);
    border-color: var(--color-primary);
  }
}

.mode_neutral {
  background-color: transparent;
  color: var(--color-text);
  border-color: var(--color-text);
  box-shadow: var(--shadow);

  &:hover {
    background-color: rgb(from var(--color-text) r g b / 10%);
    box-shadow: var(--shadow-inner);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;

    background-color: transparent;
    box-shadow: var(--shadow);
  }
}

.mode_table {
  padding: 8px;
  text-align: left;
  align-items: center;

  transition: var(--transition-base);

  &:hover {
    border-color: var(--color-primary);
  }
}

.full {
  width: 100%;
}

.disabled {
  cursor: default;
  opacity: 0.5;
}

.circle {
  padding: 6px 6px 2px;
  border-radius: 9999px;
}
