.button {
  cursor: pointer;

  padding: 6px 12px;
  border-radius: var(--rounded);

  transition: var(--transition-base);
}

.mode_primary {
  text-align: left;
  background-color: var(--color-primary);
  color: white;
  box-shadow: var(--shadow);

  &:hover {
    background-color: var(--color-primary-dark);
    box-shadow: var(--shadow-inner);
  }
}

.mode_table {
  border: 2px solid transparent;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;

  transition: var(--transition-base);

  &:hover {
    border-color: var(--color-primary);
  }
}

.disabled {
  cursor: default;
  opacity: 0.5;
}
