.erp_layout {
  height: 100vh;
  overflow: hidden;
  background-color: #f2f3f5;
  display: flex;
  padding-top: 40px;

  &__main {
    height: 100%;
    overflow: auto;
  }

  &__header {
    text-align: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 8px 4px;
    box-shadow: var(--shadow);
  }
}
