.techcards_page {
  &__layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    height: 100%;
  }

  &__button {
    position: absolute;
    bottom: 20px;
    left: 16px;
    width: 90%;
  }
}
