.drawer_list {
  display: flex;
  flex-direction: column;

  &__link {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    padding: 6px 8px;

    transition: var(--transition-base);

    &:hover {
      background-color: rgba(131, 0, 0, 0.75);
      color: white;
    }
  }

  &__expanded_link {
    text-align: center;
  }

  &__main {
    background-color: rgba(131, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
