.list_item {
  display: flex;
  align-items: center;
  gap: 8px;
  text-overflow: ellipsis;

  &__icon {
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
  }
}
