.attributes_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;

  height: 100%;
  padding: 16px;

  &__line {
    display: flex;
    justify-content: space-between;

    gap: 8px;
    width: 100%;
  }
}
