.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);

  height: 100vh;
  padding: 20px;

  &__form {
    display: flex;
    flex-direction: column;

    gap: 8px;
  }
}
