.product_scanner {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  overflow: auto;

  &__form {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
  }
}
