.landing_page {
  background-color: #f7f8fa;

  &__section {
    display: flex;
    flex-direction: column;

    gap: 12px;

    justify-content: center;

    height: 100vh;
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__link {
    max-width: fit-content;
    font-size: var(--text-xl);
  }
}
