.table {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 12px;
  overflow: auto;

  &__header {
    background-color: #eee;
    padding: 8px;
    border-radius: 4px;

    display: flex;
    gap: 8px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }

  &__main {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
  }
}
