.sub_nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  height: 100%;
  border-right: 2px solid #e5e6eb;
  padding-top: 80px;

  transition: var(--transition-base);

  &__list {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
      display: flex;
      align-items: center;
      gap: 8px;
      text-overflow: ellipsis;
      border-bottom: 2px solid #e5e6eb;
    }
  }

  &__footer {
    display: flex;
    justify-content: right;
  }
}
